# Ignorar ficheiros de compilação e pastas de saída
/pratica01/out/
/pratica02/out/

# Ignorar classes compiladas em qualquer pasta out
**/out/**/*.class

# IDE/config
.vscode/
.idea/
*.iml

# Sistema
Thumbs.db
ehthumbs.db
Desktop.ini
